body{
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--gray_2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--gray_2);
}