
h1, h2, h4{
    margin: 0;
    font-size : 25px;
    font-family: var(--font-family);
}

h3{
    margin: 0;
    font-size : 50px;
    font-family: var(--font-family);
}


h4{
    margin: 0;
    font-size : 15px;
    font-family: var(--font-family);
}