.header{
    background-color: white;
    box-shadow: var(--box-shadow-nav);
    height: 40px;
}

.btn_menu{
    border-radius: 0px ;
    border: 0px solid white;
    width:50%;
    height: 100%;
    font-size: 20px;
}